.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

/* TODO: is there is a better way*/
.lower {
  height: calc(100% - 136px);
}
